@import "tailwindcss";

@theme {
    /* COLOR */
    --color-main-1: #0A7E8D;
    --color-main-2: #42bb7d;
    --color-main-3: #499e5a;
    --color-main-4: #e4cfaa;
    --color-main-5: #3f3f3f;
    --color-main-6: #f0f0f0;

    /* FONT-FAMILY */
    --font-1: "Source Code Pro";
    --font-2: "Barlow Semi Condensed";

    /* TYPOGRAPHY */
    --text-paragraph: 1rem;
    --text-h1: 3.5rem;
    --text-h2: 2.625rem;
    --text-h3: 1.875rem;
    --text-button: 1.25rem;

    --leading-paragraph: 1.5rem;
    --leading-h1: 3.5rem;
    --leading-h2: 2.25rem;
    --leading-h3: 1.875rem;
    --leading-button: 1.5rem;

}


/* NPM INSTALL --> @ IMPORT */
.source-code-pro {
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

